/** @define Tag */

/**
 * TBD: Utils
 */

.cdk-Tag {
  font-family: sans-serif;
  font-size: 0.875rem;
}

/**
 * Component-specific
 */

.cdk-Tag {
  display: inline-block;
  padding: 5px 12px 4px;
  cursor: pointer;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3a67e5;
  display: flex;
  align-items: center;
}

.cdk-Tag:hover {
  border-color: inherit;
}

.cdk-Tag:active {
  color: #fff;
  background-color: #3a67e5;
  border-color: #3a67e5;
}

.cdk-Tag.is-top {
  font-weight: 400;
}

.cdk-Tag.is-top:active {
  background-color: #fff;
  color: #3a67e5;
}

.cdk-Tag.is-urgent {
  color: #f00;
  font-weight: 600;
}

.cdk-Tag.is-urgent:active {
  background-color: #f00;
  border-color: #f00;
  color: #fff;
}

.cdk-Tag-icon {
  margin-right: .5rem;
  width: 0.75rem;
  height: 1rem;
}

.cdk-Tag-icon > svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
